<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.html"/>
        <property name="unauthorizedUrl" value="403.html"/>
        <property name="filterChainDefinitions">
            <value>
                /login.html = anon
                /authentication = anon
                /root.html = roles["root"]
                /* = authc
            </value>
        </property>
    </bean>

    <!-- security Manager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" p:realm-ref="realm"/>

    <!-- 相当于调用SecurityUtils.setSecurityManager(securityManager) -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod"
                  value="org.apache.shiro.SecurityUtils.setSecurityManager" />
        <property name="arguments" ref="securityManager" />
    </bean>

    <!-- realm -->
    <bean id = "realm" class="com.dadagum.shiro.realm.UserRealm" p:credentialsMatcher-ref="credentialsMatcher"/>

    <!-- HashedCredentialsMatcher : 指定md5方法 -->
    <bean id="credentialsMatcher" class="com.dadagum.shiro.matcher.RetryLimitHashedCredentialsMatcher" p:hashAlgorithmName="md5" p:hashIterations="1"/>

</beans>